crawl4ai==0.7.8
beautifulsoup4
lxml
playwright
python-dotenv
requests
asyncio
#llama-cpp-python
pandas
scikit-learn
yfinance
matplotlib
xgboost
lightgbm

# QLoRA / finetuning stack
datasets
transformers
trl
accelerate
peft
bitsandbytes
unsloth
